body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eef1f5 !important;

}


.navbar .container {
  display: flex;
  justify-content: space-between;
  background: #2b3643;
  font-size: 20px;
}

.navbar  li{
  align-self: flex-end;
  display:  inline-flex;
  list-style: none;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar a {
  color: white;
}


.navbar-header {
  align-self: center;
  margin-left: 40px;
}

.content {

  width: 90%;
  margin: auto;
  margin-top: 32px;
}


